
<div class="jumbotron text-center">
  <hr class="my-4">
  <h1 class="display-4">Eat Burgers!</h1>
  <img src="https://i.ibb.co/dKmznDf/burger.jpg" alt="burger" border="0"></a>
</div>

<div class="card">
  <div class="card-body">
    <h2 class="font text-center">I am not hungry!</h2>
  </div>
</div>
<ul>

  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>

<div class="card">
  <div class="card-body bg-danger">
    <h2 class="font text-center">I am hungry!</h2>
  </div>
</div>

<ul>
  {{#each burger}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>

<h2 class="font text-center">Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group bg-warning">
    <label for="devo">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> Devoured!<br>
    <input type="radio" name="devored" value="0"> Awake
  </div>


      <div class="text-center">
  <button type="submit" class="btn">Add Burger</button>
  </div>
</form>

