li {
    margin: 7px;
    padding: 7px;
    background: rgb(219, 235, 131);
}


.jumbotron {
    background-color: lightblue;
    font-weight: bolder;
    height: 60vh;
}




.card-body {
    background-color: lightgreen;
}


.create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(183, 123, 240);
}

.form-group {
    text-align: center;
}

.btn {
    justify-content: center;
    background-color: rgb(114, 114, 114);
    color: white;
   
}

.footer {
    margin-top: 10px;
    background-color: rgb(153, 153, 153);
}