.jumbotron {
    background-color: lightblue;
    font-weight: bolder;
}


.card-body {
    background-color: lightgreen;
}


.create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(183, 123, 240);
}

.form-group {
    text-align: center;
}

.btn {
    justify-content: center;
    background-color: rgb(114, 114, 114);
    color: white;
   
}